
html {
    font-family: cursive;
    text-align: center;
}

html, body {
    height: 100%;
    padding: 0;
    margin: 0;
}

header, main, footer, aside {
    position: fixed;
}

header, footer {
    width: 100%;
    height: 10%;
}

aside, main {
    top: 10%;
    height: 80%;
}

aside {
    width: 20%;
}

aside#help {
    left: 0;
}

aside#inventory {
    right: 0;
}

main {
    width: 60%;
    left: 20%;
    text-align: center;
}

output {
    display: block;
    margin: auto;
    height: 50%;
    padding: 5%;
    border: 3px groove gray;
    border-radius: 1em;
}

output, input {
    font-size: 250%;
    font-family: cursive;
}

main > section {
    margin: 2em;
}



footer {
    top: 90%;
}

